/* Style for the forms */
#fulltextForm {
    display: flex;
    align-items: center; /* Center vertically */
    margin-left: auto; /* Move the form all the way to the right */
}

/* Style for the input fields */
#fulltextForm input[type="text"] {
    width: 300px;
    height: 30px; /* Corrected property name */
    padding-right: 10px; /* Corrected property name */
    margin: 4px 0;
    box-sizing: border-box;
}

.navbar {
    background-color: #333; /* Background color for the navbar */
}

.navbar-dark .navbar-toggler-icon {
    background-color: #fff; /* Color of the mobile menu icon bars */
}

.navbar-dark .navbar-toggler:focus {
    box-shadow: none; /* Remove focus border for the mobile menu button */
}

.navbar-dark .navbar-nav .nav-link {
    color: #fff; /* Color of the navbar links */
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: #e5e5e5; /* Color of the navbar links on hover */
}
